services:
  db:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: arte1
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgres/data
    